@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory; */
}

/* 
.sections {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
} */

.section {
  scroll-snap-align: start;
  position: relative;
}

.blur-effect {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.blur-effect::before,
.blur-effect::after {
  content: '';
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.blur-effect::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.blur-effect::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.card:hover .overlay {
  opacity: 1;
}

.overlay {
  @apply rounded-md;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  /* Enable scroll snap on the y-axis */
}

.scroll-section {
  scroll-snap-align: center;
  /* Snap to the start of each section */
}

/* Custom styles for unique shape cuts */
.bg-gradient-to-r {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.bg-gradient-to-l {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.card2 {
  border-radius: 100px 100px 30px 30px / 60px 60px 30px 30px
}
.clip-card {
}

.dropdown-link {
  @apply hover:opacity-60;
  @apply transition-opacity;
}